<div class="col-md-12">
    <nav class="navbar navbar-md mt-0" style="left: 210%;">
        <ul class="nav navbar-right mt-0 pt-0 mr-0">	
            <li>
                <a style="color: white; border-radius: 4px;" class="nav-link" routerLinkActive="active" routerLink="/home">DASHBOARD</a>
            </li>
            <li>
                <a style="color: white;" class="nav-link" routerLinkActive="active" routerLink="/batches/todays_batches" >BATCHES</a>
            </li>
            <li>
                <a style="color: white;" class="nav-link" routerLinkActive="active" routerLink="/bills">BILLS</a>
            </li>
            <li>
                <a style="color: white;" class="nav-link" routerLinkActive="active" routerLink="/reports">REPORTS</a>
            </li>
        </ul>

    </nav>
</div>		