<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewreport" content="width=device-width, initial-scale=1.0">
	<title>
		HOME
	</title>
	<meta charset="UTF-8">
	
	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />


	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="bills.component.css" />
  	<link rel="stylesheet" type="text/html" href="/resources/demos/style.css"/>

  
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

	<div id="logo">
		<a href="https://navriti.com/"><img src="assets/images/logo.png"/></a>
	</div>
	
	<div class="top">
			<ul class="nav navbar-right mr-3">
				<li class="nav-item dropdown">
					<a style="font-size: 15px;  color:rgb(202, 195, 195) ;" class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
						mayurikishore.navriti@gmail.com (assessor)</a>
					<ul style="background-color: #45a049; " class="dropdown-menu fade-up">
						<li  style="border-bottom: 1px solid white;"><a style="color: white;" class="dropdown-item" routerLink="/changepassword">Change Password</a></li>
						<li  style="border-bottom: 1px solid white;"><a style="color: white;" class="dropdown-item" routerLink="/updateprofile">Update Profile</a></li>
						<li  style="border-bottom: 1px solid white;"><a style="color: white;" class="dropdown-item" routerLink="/logout" >Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	
		
	<div class="container-fluid banner">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-md mt-0">
					<ul class="nav navbar-left mt-0 pt-0 ml-0"></ul>
					<ul class="nav navbar-right mt-0 pt-0 mr-0">	
						<li>
							<a style="color: rgb(202, 195, 195); " class="nav-link" routerLink="/home">DASHBOARD</a>
						</li>
						<li>
							<a style="color: rgb(202, 195, 195); " class="nav-link" routerLink="/batches" >BATCHES</a>
						</li>
						<li>
							<a style="color: rgb(202, 195, 195); background-color : #4CAF50; border-radius: 4px;" class="nav-link" routerLink="/bills">BILLS</a>
						</li>
						<li>
							<a style="color: rgb(202, 195, 195);" class="nav-link" routerLink="/reports">REPORTS</a>
						</li>
					</ul>

				</nav>
			</div>		

		</div>
		<div class="modal-footer mx-5 pt-3 mb-1 justify-content-center fixed-bottom">
			<p style="color: rgb(255, 255, 255);" class="font-small  d-flex">
			  © 2020 Copyright:
			  <a style="color: rgb(240, 234, 234);"
				href="https://navriti.com/"
				class=" ml-1"
				target="_blank"
				><b> Navriti Technologies PVT LTD. </b></a
			  >
			</p>
		  </div>
	</div>
	</body>

</html>